body {
  padding: 0;
  text-align: center;
}

#game-intro {
  padding: 20px 0px;
}

#game-container {
  display: flex;
  padding: 20px 0px;
  margin-top: 30px;
  justify-content: center;
}

#game-screen {
  display: none;
  align-content: center;
  padding: 20px 0px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/road.png);
  background-size: cover;
  animation: slide 5s linear infinite;
}

@keyframes slide {
  0% {
    background-position: 0 -1000px;
  }
  95% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

#game-end {
  display: none;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

/*my code*/
#game-container div:first-of-type {
  display: flex;
  gap: 10px;
  z-index: 1;
  position: absolute;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.337);
}
#game-container p {
  font-size: 1.8rem;
  text-align: center;
  color: white;
  margin: 7px 10px;
}

h2 {
  display: none;
}
